@charset "utf-8";

html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: #F2DCB3;
}

body div.head {
	background-image: url("../img/bg.png");
	background-repeat: repeat;
	width: 100%;
	height: 10%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

body div.head .headesquerda {
	float: left;
	margin-left: 40px;
}

body div.head .headdireita {
	float: right;
	margin-right: 40px;
}

body div.body {
	width: 100%;
	height: 88%;
}

body div.footer {
	width: 100%;
	height: 2%;
	text-align: center;
	background-image: url("../img/bg.png");
	background-repeat: repeat;
}

body div.footer p {
	font-family: Century Gothic;
	color: #f2dbb3;
	font-size: 13px;
	padding-top: 3px;
}

/*
*
*
*   CSS do relógio
*
*
*/
#Date {
	font-size: 12px;
	text-align: center;
	font-family: Century Gothic;
	color: white;
}

body div.head .headdireita ul {
	text-align: center;
	font-family: Century Gothic;
	color: white;
}

body div.head .headdireita ul li {
	display: inline;
	font-size: 1.5em;
	text-align: center;
	font-family: Century Gothic;
	color: white;
}

#point {
	position: relative;
	font-family: Century Gothic;
	color: white;
}
/*
*
*
*   CSS do relógio - FIM
*
*
*/
body div.body .esquerda {
	float: left;
	width: 93%;
	height: 100%;
}

body div.body .direita {
	float: right;
	width: 7%;
	height: 100%;
}

.divsolicitargarcom, .divfecharpedido {
	height: 50%;
	position: relative;
}

.borderleft {
	height: 100%;
	border-left: 2px solid #CFC4B1;
}

.bordertop {
	border-top: 2px solid #CFC4B1;
}

.diviconetopoalerta {
	text-align: center;
	border-bottom: 2px solid #CFC4B1;
}

.diviconetopoalerta img {
	height: 35px;
	width: 50px;
}

.diviconetopoalerta p {
	text-align: center;
	font-family: Century Gothic;
	color: #4f3833;
	font-size: 12px;
	margin-bottom: 2px;
}

.divalerta {
	overflow: hidden;
}

.divalerta .border {
	overflow: hidden;
	margin-left: 15px;
	border-bottom: 2px solid #CFC4B1;
}

.divalerta .border .margin {
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 15px;
	height: 35px;
}

.divalerta .border .margin .margindireita {
	float: left;
	height: 100%;
}

.divalerta .border .margin .marginesquerda {
	float: left;
	height: 100%;
}

.divalerta img {
	height: 70%;
	position: relative;
	top: 18%;
}

.divalerta p {
	text-align: center;
	font-family: Century Gothic;
	color: #4f3833;
	font-size: 35px;
}

@media screen and (max-width: 1900px) {
	#imgmesa {
		display: none;
	}
}

#maisitens, #maisitensfooter {
	position: absolute;
	bottom: 4px;
	width: 80px;
	left: 50%;
	margin-left: -40px;
	text-align: center;
}

#maisitens2 {
	position: absolute;		
	text-align: center;
	bottom: 5px;
	right: 11px;
}

#maisitensfooter {
	bottom: 5px
}

#maisitens span, #maisitensfooter span, #maisitens2 span {
	font-family: Century Gothic;
	font-weight: bold;
	color: #4f3833;
	font-size: 10px;
	background-color: #edda54;	
}

#maisitens2 span {
	font-size: 12px;
	padding: 5px;	
}

#maisitens span, #maisitensfooter span {
	padding: 2px 20px 2px 20px;	
}

#pedido {
	height: 82.5%;
	font-family: Century Gothic;
	color: #4f3833;
}

#pedidopronto {
	height: 15%;
	font-family: Century Gothic;
	color: #4f3833;
}

#alinhartexto {
	padding-left: 35px;
	padding-top: 12px;
	padding-bottom: 12px;
	height: 26px;
}

@-moz-document url-prefix() { 
	#alinhartexto {		
		padding-top: 9px;
		padding-bottom: 9px;		
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#alinhartexto {		
		padding-top: 10px;
		padding-bottom: 10px;		
	}
}

#alinhartexto>div:nth-child(1) {
	float: left;
	height: 100%;
}

#alinhartexto>div:nth-child(2) {
	float: left;
	height: 100%;
	position: relative;
	top: 22%;
}

#alertapedidoentregue {
	height: 80%;
	background-color: #ebebeb;
	position: relative;
}

/* regra exclusiva para o chrome e safari*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#alertapedidoentregue {
		height: 79.80%;
		background-color: #ebebeb;
	}
}

.alertapedidoentrega, .alertapedidoentrega1 {
	float: left;
	height: 100%;
	width: 8%;
	position: relative;
}

.alertapedidoentrega {
	margin-left: 2px;
}

#borderright {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 70%;
	z-index: -1px;
	border-right: 2px solid #CFC4B1;
	margin-bottom: 15px;
	margin-top: 15px;
}

#container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#container>div:nth-child(1) {
	height: 60%;
}

#container>div:nth-child(2) {
	height: 40%;
}

#container>div:nth-child(1)>div {
	padding-top: 5px;
	padding-left: 5px;
	font-weight: bold;
	font-size: 16px;
	_font-size: 16px;
	height: 88%;
	overflow: hidden;
}

@-moz-document url-prefix() { 
	#container >div: nth-child(1)>div{ 
		font-size: 15px;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#container>div:nth-child(1)>div {
		font-size: 15px;
	}
}

#container>div:nth-child(2)>div:nth-child(1) {
	float: left;
	height: 100%;
	padding-left: 5px;
}

#container>div:nth-child(2)>div:nth-child(1)>img {
	height: 70%;
	position: relative;
	top: 5%;
}

#container>div:nth-child(2)>div:nth-child(2) {
	float: left;
	height: 100%;
}

#container>div:nth-child(2)>div:nth-child(2)>p {
	font-size: 35px;
	text-align: center;
}

#modalload {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: white;
	top: 0px;
	left: 0px;
	z-index: 10;
}

@-moz-document url-prefix() { 
	#modalload {		
		height: 100%;
	}
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#modalload {		
		height: 100%;
	}
}

#modalload>div {
	font-family: Century Gothic;	
	color: #4f3833;
	font-size: 15px;
	margin: 0 auto;
	margin-top: 100px;
	width: 420px;
}

#progressbar {
	margin-bottom: 5px;
	margin-top: 5px;
}

#modalload>div .ui-progressbar {
	height: 0.5em;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top-left-radius: 0px;	
}

.error{
	color: red;
}

#pedidosAtuais{
	height: 93%; 
	width: 99%;
	padding-left: 15px;
	padding-top: 10px;
}

.listaPedido{	
	width: 350px;
	background-color: #ebebeb;
}

.topoMesaPedido{
	background-color: #ffffff;
	padding: 15px 20px;
	font-size: 20px;
}